@CHARSET "UTF-8";

.navbar-brand {
    padding: 15px 8px !important;
    font-size: 14px !important;
}

body {
	font-family: "微软雅黑";
	font-size: 14px;
}

a {
	text-decoration: none;
}

a.login {
	text-align: center;
	width: 160px;
}

.center {
	text-align: center;
}

div.header {
	/*background-color: #3371B7;*/
	
}

div.input-item {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 40px;
	min-width: 300px;
}

/*ul.nav {
	float: left;
}

ul.nav>li {
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
}*/

div.container-body {
	width: 90%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
	padding-bottom: 3.8em;
}

div.container-body-with-left {
	padding-top: 4em;
	padding-bottom: 10em;
	padding-left: 2em;
	padding-right: 2em;
	/*max-width: 1400px;*/
}

.bottom-line {
	border-bottom: 1px #dddddd solid;
}

.logo {
	width: 200px;
	height: 40px;
	position: absolute;
	left: 10px;
	top: 0;
}

.create-button {
	float: right;
	margin-left: 1em;
}

label {
	margin-right: 0.5em;
}

.login-body {
	background-color: #2d96ff;
}

.submit-button {
	margin-top: 20px;
}

.inline {
	display: inline;
}

.title-area {
	margin-top: 0.4em;
	margin-bottom: 0.4em;
}

div.margin-top-little {
	margin-top: 3.2em;
}

.padding-left-little {
	padding-left: 3.2em;
}

.full-width {
	width: 100%;
}

.remark {
	color: #ff0000;
}

.blue {
	color: #0000ff;
}

.tab-navi {
	padding-left: 40%;
	padding-right: 40%;
	padding-top: 2em;
	padding-bottom: 2em;
}

.tab {
	border-bottom: 1px solid #dddddd;
	display: table-cell;
	/*background-color: #eeeeee;*/
	padding: 0.4em 0.8em 0.2em 0.8em;
	margin-left: 0px;
	margin-right: 0px;
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
}

.tab-selected {
	border: 1px solid #dddddd;
	background-color: #eeeeee;
}

.tab a {
	color: #000000;
	font-size: 1.8em;
}

.tab a:hover {
	color: #bbbbbb;
	font-size: 1.8em;
	text-decoration: none;
}

.error-info {
	color: red;
}

.left-navi-div {
	margin-top: 1em;
}

.info-title {
	font-size: 1.6em;
	font-style: italic;
}

.image-preview {
	width: 160px;
	height: 160px;
}

.search-div {
	margin-bottom: 1.2em;
	padding-left: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	border-top: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: #2d96ff;
}

.navbar-default .navbar-nav>li>a {
  color: #3C3B40; 
  font-size: 1.2em;
  font-weight: bold;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #228FE2;
}

#footerbox {
	background-color: #E6E6E6 !important;
}
.navbar-right
{
	margin-right : 10%;
}